/* .App {
  display: flex;
} */
/* 
.product {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  flex: wrap;
} */
/* 
.card {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  padding: 10px;
  border:"1px solid grey";
gap:10px;
}

.card img {
  object-fit: cover;
  height: 200px;
}

.card div {
  justify-content: space-between;
  display: flex;
}

.cart {
  display: none;
  flex-direction: column;
  background-color: wheat;
} */